@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');


@mixin pc() {
    @media (max-width:992px) {
        @content;
    }
}

@mixin pad() {
    @media (max-width:768px) {
        @content;
    }
}

@mixin phone() {
    @media (max-width:576px) {
        @content;
    }
}

$title_color_black: #212529;
$title_color_white: #fff;
$title_size_5rem: 5rem;
$title_size_3rem: 3rem;

*,
*::after,
*::before {
    box-sizing: border-box;

    font: {
        family: 'Noto Sans TC', sans-serif;
        weight: 300;
    }
}

body {
    margin: 0;
}

video {
    display: block;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

div {
    video {
        width: 100%;
        height: calc(100vh - 76px);
        object-fit: cover;
        position: relative;
    }

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        line-height: 100vh;

        font: {
            size: $title_size_5rem;
            weight: bold;
        }

        color: white;

        @include phone() {
            font-size: $title_size_3rem;
        }
    }

    #about {
        position: relative;
        width: 100%;
        height: 100vh;

        background: {
            image: url(../img/index_about.jpg);
            position: center;
            size: cover;
            attachment: fixed;
        }

        div {
            color: $title_color_white;

            font: {
                size: $title_size_3rem;
                weight: bold;
            }

            position: absolute;
            top: 25%;
            left: 15%;

            @include phone() {
                top: 10%;
            }
        }

        p {
            width: 60%;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            line-height: 30px;
            text-align: start;
            letter-spacing: 3px;
            color: white;
            z-index: 0;

            @include phone() {
                top: 35%;
                font-size: 14px;
                width: 80%;
            }

            &::before {
                content: '';
                background-color: rgba(0, 0, 0, 0.6);
                width: 105%;
                height: 30vh;
                position: absolute;
                top: -10%;
                left: -2.5%;
                z-index: -1;
                border-radius: 15px;

                @include phone() {
                    height: 80%;
                }
            }
        }
    }

    #Image_section {
        background-image: linear-gradient(45deg, rgb(24, 82, 60), rgb(8, 67, 122));
        display: flex;
        flex-direction: column;
        // padding-bottom: 3rem;

        .Image_title {
            color: $title_color_white;

            font: {
                size: $title_size_3rem;
                weight: bold;
            }

            margin:3rem 0 3rem 15%;
        }

        .col {
            display: flex;
            justify-content: center;

            @include phone() {
                margin-top: 1rem;
            }

            .card {
                border-radius: 15px;
                border: 0;

                img {
                    border-radius: 15px 15px 0 0;
                }

                .btn {
                    background-image: linear-gradient(45deg, rgba(5, 118, 255, 1) 0%, rgba(36, 248, 255, 1) 100%);
                    border: 0;
                    overflow: hidden;
                    position: relative;
                    transition: all .5s;
                    border-radius: 15px;
                    z-index: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        background-image: linear-gradient(45deg, rgba(255, 193, 7, 1) 0%, rgba(255, 87, 34, 1) 100%);
                        top: 0px;
                        left: 0px;
                        border-radius: 15px;
                        width: 0px;
                        height: 40px;
                        transition: all .5s;
                        z-index: -1;
                    }

                    &:hover::before {
                        width: 110px;
                    }
                }
            }
        }

        #container {
            margin-top: 5rem;
            display: flex;
            width: 100%;

            @include phone() {
                flex-direction: column;
            }
    
            .bn1 {
                width: 50%;

                @include phone() {
                    width: 100%;
                }
    
                .item:first-child {
                    width: 100%;
                }
    
                .item:nth-child(2) {
                    display: flex;
                    width: 100%;
                }
            }
    
            .bn2 {
                width: 50%;
                @include phone() {
                    width: 100%;
                }
    
                .item:last-child {
                    width: 100%;
                }
    
                .item:nth-child(1) {
                    display: flex;
                    width: 100%;
                }
            }

            .item_box {
                position: relative;

                &:hover .text {
                    transform: scale(1);
                }

                img {
                    // float: left;
                    width: 100%;
                    vertical-align: top;
                    border: 3px solid white;
                }
    
                .text {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    transition: all .5s;
                    transform: scale(0);
                }
            }
        }
    }

    footer {
        background-color: #212529;
        color: white;
        text-align: center;
        padding: 1.5rem;

        #go_top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            position: fixed;
            right: 1rem;
            bottom: 10rem;

            @include phone() {
                right: 0;
                bottom: 2rem;
            }

            img {
                display: none;
            }

            img:last-child {
                margin-top: -1rem;
                animation: move 1.5s ease infinite alternate;

                @include phone() {
                    width: 50px;
                }

                @keyframes move {
                    0% {
                        transform: translateX(5px);
                    }

                    50% {
                        transform: translateY(5px);
                    }

                    100% {
                        transform: translateX(-5px);
                    }
                }

            }
        }
    }
}