@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
}

video {
  display: block;
}

div video {
  width: 100%;
  height: calc(100vh - 76px);
  object-fit: cover;
  position: relative;
}
div h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 100vh;
  font-size: 5rem;
  font-weight: bold;
  color: white;
}
@media (max-width: 576px) {
  div h1 {
    font-size: 3rem;
  }
}
div #about {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/index_about.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
div #about div {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: 25%;
  left: 15%;
}
@media (max-width: 576px) {
  div #about div {
    top: 10%;
  }
}
div #about p {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: 30px;
  text-align: start;
  letter-spacing: 3px;
  color: white;
  z-index: 0;
}
@media (max-width: 576px) {
  div #about p {
    top: 35%;
    font-size: 14px;
    width: 80%;
  }
}
div #about p::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 105%;
  height: 30vh;
  position: absolute;
  top: -10%;
  left: -2.5%;
  z-index: -1;
  border-radius: 15px;
}
@media (max-width: 576px) {
  div #about p::before {
    height: 80%;
  }
}
div #carouselExampleSlidesOnly .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 2rem;
}
div #Image_section {
  background-color: rgb(197, 206, 255);
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
div #Image_section .Image_title {
  color: #212529;
  font-size: 3rem;
  font-weight: bold;
  margin: 3rem 0 3rem 15%;
}
div #Image_section .col {
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  div #Image_section .col {
    margin-top: 1rem;
  }
}
div #Image_section .col .card {
  border-radius: 15px;
  border: 0;
}
div #Image_section .col .card img {
  border-radius: 15px 15px 0 0;
}
div #Image_section .col .card .btn {
  background-image: linear-gradient(45deg, rgb(5, 118, 255) 0%, rgb(36, 248, 255) 100%);
  border: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
  border-radius: 15px;
  z-index: 0;
}
div #Image_section .col .card .btn::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(45deg, rgb(255, 193, 7) 0%, rgb(255, 87, 34) 100%);
  top: 0px;
  left: 0px;
  border-radius: 15px;
  width: 0px;
  height: 40px;
  transition: all 0.5s;
  z-index: -1;
}
div #Image_section .col .card .btn:hover::before {
  width: 110px;
}
div footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 1.5rem;
}
div footer img {
  position: fixed;
  right: 1.5rem;
  bottom: 5rem;
  display: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */